name: Static Site CI
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:
jobs:
  site:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate App Token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.LOG10X_CI_FULL_APP_ID }}
          private-key: ${{ secrets.LOG10X_CI_FULL_APP_PRIVATE_KEY }}
      - uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: upptime/uptime-monitor@v1.41.0
        with:
          command: site
        env:
          GH_PAT: ${{ steps.app-token.outputs.token }}
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          publish_dir: ./site/status-page/__sapper__/export
          publish_branch: gh-pages
          cname: status.log10x.com
