name: Uptime CI
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
jobs:
  uptime:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/uptime-monitor@v1.41.0
        with:
          command: update
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
          DEMO_API_KEY: ${{ secrets.DEMO_API_KEY }}
